- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Jorge A. Martinez
          %h3 President / CEO
          %p
            %a{:href =>"mailto:jorge@pclandscapedesign.com"}jorge@pclandscapedesign.com
            %br
            (951) 683-2197 
        .text
          %h1 Maria M. Martinez
          %h3 Office Manager
          %p
            %a{:href =>"mailto:maria@pclandscapedesign.com"}maria@pclandscapedesign.com
            %br
            (951) 683-2197 
        .text
          %h1 Mayra Lara
          %h3 Office Assistant
          %p
            %a{:href =>"mailto:mayra@pclandscapedesign.com"}mayra@pclandscapedesign.com
            %br
            (951) 683-2197 
        .text
          %h1 Jesse Martinez
          %h3 Project Superintendent, Texas Region
          %p
            %a{:href =>"mailto:jesse@pclandscapedesign.com"}jesse@pclandscapedesign.com
            %br
            (951) 750-8712
        .text
          %h1 Jennie Rosas
          %h3 Superintendent of Operations
          %p
            %a{:href =>"mailto:jennie@pclandscapedesign.com"}jennie@pclandscapedesign.com
            %br
            (951) 662-5895
      

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Contact Us
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "730", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p0q5/", :border => "none"}       
