- @title = " | Installation"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => "anchor2"}
          .section.no-image
            %h1 Installation
            %p
              When it comes to landscaping installation, consulting, and expert designs, no one does it better than Pacific Coast Landscape and Design, Inc. Not only are we a residential and commercial business, but we are also a consulting company able to address issues caused by other contractors.
            %p
              We provide Landscape installation of irrigation, construction and wide range of landscape essentials for your home or business. Our installation specialists will work with you to design and meet your landscape needs, as well as fit in your budget. We guarantee our irrigation installation and planting, as well as repairing. We provide installation services that include Landscape, Irrigation, Lighting, Hardscape, Drainage, Tree and Palm Planting.
            %p
              PCLD Inc. takes pride in creating doing the job on time, on budget, the right way with a thorough clean up at job's end is part of our company culture. Our professionals and on-site crews are friendly and easy to work with. Please call us with any of your landscaping needs.
              
      #three.sidebar.right
        .text
          %h1 Expert Designs
          %h3 View samples of our work
          %p We have image galleries from completed projects in each of our service locations: Arizona, California, Hawaii, and Texas
          %p.link
            %a{:href => "/gallery"} View Now >