- @title = " | Galleries"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Arizona", "/az"]
- @sub1 = ["Arizona - Jack in the Box Restaurants", "az1"]
- @sub2 = ["Arizona - Section 2", "az2"]
- @sub3 = ["Arizona - Section 3", "az3"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:charset => "utf-8", :src => "javascripts/jquery.prettyPhoto.js", :type => "text/javascript"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %ul.gallery.clearfix
              %li
                %a{:href => "images/gallery/fullscreen/az1-1.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-1.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-2.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-2.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-3.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-3.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-4.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-4.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-5.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-5.jpg",}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-6.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-6.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-7.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-7.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-8.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-8.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-9.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-9.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-10.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-10.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-11.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-11.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-12.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-12.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-13.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-13.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-14.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-14.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-15.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-15.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-16.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-16.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-17.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-17.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/az1-18.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-az1-18.jpg"}/
              #hide1{:style => "display:none"}
                %li
                  %a{:href => "images/gallery/fullscreen/az1-19.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-19.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-20.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-20.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-21.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-21.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-22.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-22.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-23.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-23.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-24.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-24.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-25.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-25.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-26.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-26.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-27.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-27.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-28.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-28.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-29.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-29.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-30.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-30.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-31.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-31.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-32.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-32.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-33.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-33.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-34.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-34.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-35.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-35.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-36.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-36.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-37.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-37.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-38.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-38.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-39.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-39.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/az1-40.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-az1-40.jpg"}/
            %p.expGallery
              %a{:onclick => "return toggleMe('hide1')"} Expand / Hide






        
   
%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function(){
  $("area[rel^='prettyPhoto']").prettyPhoto();
  
  $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'pp_default',slideshow:3000, autoplay_slideshow: false});
  $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
  
  $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
  custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
  changepicturecallback: function(){ initialize(); }
  });
  
  $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
  custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
  changepicturecallback: function(){ _bsap.exec(); }
  });
  });

