- @title = " | Galleries"
- @subtitle = " - California"
- @body_class = "four"

- @sub0 = ["California", "/ca"]
- @sub1 = ["San Diego - Jack in the Box Restaurants", "ca1"]
- @sub2 = ["San Diego - Properties", "ca2"]
- @sub3 = ["Palm Springs Desert Communities", "ca3"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:charset => "utf-8", :src => "javascripts/jquery.prettyPhoto.js", :type => "text/javascript"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %ul.gallery.clearfix
              %li
                %a{:href => "images/gallery/fullscreen/ca1-1.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-1.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca1-2.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-2.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca1-3.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-3.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca1-4.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-4.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca1-5.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-5.jpg",}/
              %li
                %a{:href => "images/gallery/fullscreen/ca1-6.jpg", :rel => "prettyPhoto[gallery1]"}
                  %img{:src => "images/gallery/thumbnails/t-ca1-6.jpg"}/
              #hide1{:style => "display:none"}
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-7.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-7.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-8.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-8.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-9.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-9.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-10.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-10.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-11.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-11.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca1-12.jpg", :rel => "prettyPhoto[gallery1]"}
                    %img{:src => "images/gallery/thumbnails/t-ca1-12.jpg"}/
            %p.expGallery
              %a{:onclick => "return toggleMe('hide1')"} Expand / Hide



          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %ul.gallery.clearfix
              %li
                %a{:href => "images/gallery/fullscreen/ca2-1.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-1.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca2-2.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-2.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca2-3.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-3.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca2-4.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-4.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca2-5.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-5.jpg",}/
              %li
                %a{:href => "images/gallery/fullscreen/ca2-6.jpg", :rel => "prettyPhoto[gallery2]"}
                  %img{:src => "images/gallery/thumbnails/t-ca2-6.jpg"}/
              #hide2{:style => "display:none"}
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-7.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-7.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-8.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-8.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-9.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-9.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-10.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-10.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-11.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-11.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca2-12.jpg", :rel => "prettyPhoto[gallery2]"}
                    %img{:src => "images/gallery/thumbnails/t-ca2-12.jpg"}/
            %p.expGallery
              %a{:onclick => "return toggleMe('hide2')"} Expand / Hide


          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %ul.gallery.clearfix
              %li
                %a{:href => "images/gallery/fullscreen/ca3-1.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-1.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca3-2.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-2.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca3-3.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-3.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca3-4.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-4.jpg"}/
              %li
                %a{:href => "images/gallery/fullscreen/ca3-5.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-5.jpg",}/
              %li
                %a{:href => "images/gallery/fullscreen/ca3-6.jpg", :rel => "prettyPhoto[gallery3]"}
                  %img{:src => "images/gallery/thumbnails/t-ca3-6.jpg"}/
              #hide3{:style => "display:none"}
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-7.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-7.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-8.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-8.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-9.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-9.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-10.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-10.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-11.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-11.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-12.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-13.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-13.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-13.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-14.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-14.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-15.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-15.jpg"}/
                %li
                  %a{:href => "images/gallery/fullscreen/ca3-16.jpg", :rel => "prettyPhoto[gallery3]"}
                    %img{:src => "images/gallery/thumbnails/t-ca3-16.jpg"}/
            %p.expGallery
              %a{:onclick => "return toggleMe('hide3')"} Expand / Hide






        
   
%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function(){
  $("area[rel^='prettyPhoto']").prettyPhoto();
  
  $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'pp_default',slideshow:3000, autoplay_slideshow: false});
  $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
  
  $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
  custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
  changepicturecallback: function(){ initialize(); }
  });
  
  $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
  custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
  changepicturecallback: function(){ _bsap.exec(); }
  });
  });

