- @title = " | Maintenance"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => "anchor2"}
          .section.no-image
            %h1 Maintenance
            %p
              At Pacific Coast Landscape and Design Inc., we believe that every client deserves high quality maintenance services for their landscape needs. Our dependable and reliable company offers commercial and residential Maintenance, Installations and Design. Professional landscaping will not only add beauty and usability to your property, but it can also potentially add significant value and future marketability for your home or business.
            %p All of the companies we work with feature professional landscaping services which include mowing, edging, trimming, weeding, fertilizing, mulching and irrigation checks. We also offer annual color packages which make an INSTANT IMPACT in your landscape. Adding color is the first step in making your house look and feel like a home. By using bold, dynamic colors you maintain curb appeal and PCLD can make this happen.  We offer our services throughout California, Hawaii, Texas and Arizona.

              
      #three.sidebar.right
        .text
          %h1 Instant Impact
          %h3 View samples of our work
          %p We have image galleries from completed projects in each of our service locations: Arizona, California, Hawaii, and Texas
          %p.link
            %a{:href => "/gallery"} View Now >