- @title = " | About"
- @subtitle = ""
- @body_class = "one"

- @sub0 = ["About", "/about"]
- @sub1 = ["About Us", "about"]
- @sub2 = ["News", "news"]
- @sub3 = ["Professionalism", "professionalism"]


%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.sidebar.right
        / .subnav
        /   %h1 About
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        .text
          %h1=@sub3[0]
          %p Pacific Coast Landscape's standards of professionalism include uniformed and professionally trained employees, high quality trucks and equipment that are cleaned on a weekly basis and an emphasis on integrity and safety. PCLD Inc. recognizes professionals by granting licenses to signify specialization.


        .text
          %h1 Our Licenses
          %p
            %b California 
            LIC# 907343
            %br
            %b Hawaii
            LIC# W-11545685             
      

      #two.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Pacific Coast Landscape &amp; Design Inc. is known for its uncommon dedication in California, Texas, Arizona and The Hawaiian Islands. We are a full service landscape contracting company in support of your company's growing and demanding needs. Our commitment to quality and service is evident due to the fact that more than 80 percent of our work comes from repeat clients and referrals. From paying attention to minor details on the job to the speed in which phone calls get returned, our goal is to go the extra mile keeping your project on-time and on-budget!
            %p We provide full landscaping maintenance and irrigation installations for Builders, Developers, Contractors, local municipalities and even homeowners for new Residential, Industrial, Commercial and Retail improvements.
            %p PC Landscape is able to provide weekly maintenance services for Commercial & Residential Properties, Model homes, Parks, Hotels, Condominiums, Restaurants & Casinos.
            %p Thank you for allowing Pacific Coast Landscape & Design Inc. to introduce ourselves and present information of our services to you. Thank you for your time and hope to hear from you soon.
            %p
              %b Serving California, Texas, Arizona & the Hawaiian Islands
        
