- @title = " | Services"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => "maintenance"}
          .section.no-image
            %h1 Maintenance
            %p
              At Pacific Coast Landscape and Design Inc., we believe that every client deserves high quality maintenance services for their landscape needs. Our dependable and reliable company offers commercial and residential Maintenance, Installations and Design. Professional landscaping will not only add beauty and usability to your property, but it can also potentially add significant value and future marketability for your home or business.
            %p All of the companies we work with feature professional landscaping services which include mowing, edging, trimming, weeding, fertilizing, mulching and irrigation checks. We also offer annual color packages which make an INSTANT IMPACT in your landscape. Adding color is the first step in making your house look and feel like a home. By using bold, dynamic colors you maintain curb appeal and PCLD can make this happen.  We offer our services throughout California, Hawaii, Texas and Arizona.
          .spacer

          %a{:name => "installation"}
          .section.no-image
            %h1 Installation
            %p
              When it comes to landscaping installation, consulting, and expert designs, no one does it better than Pacific Coast Landscape and Design, Inc. Not only are we a residential and commercial business, but we are also a consulting company able to address issues caused by other contractors.
            %p
              We provide Landscape installation of irrigation, construction and wide range of landscape essentials for your home or business. Our installation specialists will work with you to design and meet your landscape needs, as well as fit in your budget. We guarantee our irrigation installation and planting, as well as repairing. We provide installation services that include Landscape, Irrigation, Lighting, Hardscape, Drainage, Tree and Palm Planting.
            %p
              PCLD Inc. takes pride in creating doing the job on time, on budget, the right way with a thorough clean up at job's end is part of our company culture. Our professionals and on-site crews are friendly and easy to work with. Please call us with any of your landscaping needs.

              
      #three.sidebar.right
        .text
          %h1 Instant Impact
          %h3 View samples of our work
          %p We have image galleries from completed projects in each of our service locations: Arizona, California, Hawaii, and Texas
          %p.link
            %a{:href => "/gallery"} View Now >